body {
    background-color: rgb(245, 251, 255);
}
h1 {
    color: rgb(162, 0, 0);
    text-align: center;
}
.first-js-project {
    border: 2px solid black;
    text-align: center;
    padding: 25px;
}
button {
    padding: 6px;
    font-weight: bold;
    border-radius: 7px;
    outline: none;
}
.second-js-project {
    margin-top: 10px;
    border: 2px solid black;
    text-align: center;
    padding: 25px;
}